SOACaravelaApplication/CaravelaSOATemplates/SOA/Schemas/TemplateBusinessServiceSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://namespace.BusinessServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://namespace.BusinessServiceSchema">
   <xsd:complexType name="RequestBusinessService">
      <xsd:sequence>
        <xsd:element name="RequestBusinessServiceMessage" type="xsd:string"/>
       </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ResponseBusinessService">
      <xsd:sequence>
      <xsd:element name="ResponseBusinessServiceMessage" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType> 
</xsd:schema>
